.vue-simple-table thead tr th > button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}


.vue-simple-table thead button {
  cursor: auto;
  text-align: left;
}

.vue-simple-table thead button.sortable {
  cursor: pointer;
}

.vue-simple-table thead .sort > svg {
  height: 1rem;
}

.vue-simple-table-pagination {
  display: flex;
  gap: 0.5rem;
}

.vue-simple-table-pagination svg {
  height: 1rem;
}